<section class="headerBlog">
    <div class="container">
        <a href="javascript:" title="Category" class="category">Category</a>
        <h4>Featured</h4>
        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
        <div class="date">
            <span>November 29th 2016, By Eric Hsu</span>
            <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</section>