<div class="purchaseStickerStep1">
    <div class="left pull-left">
        <h4>Purchase Stickers</h4>
        <form action="">
            <div class="twoCol line">
                <div class="singleCol">
                    <input type="radio">
                    <label for="">Continue as Guest</label>
                </div>
                <div class="singleCol">
                    <input type="radio">
                    <label for="">Create Account</label>
                </div>
            </div>
            <div class="twoCol line">
                <div class="singleCol">
                    <input type="radio">
                    <img src="/assets/images/master-card.png" alt="">
                </div>
                <div class="singleCol">
                    <input type="radio">
                    <img src="/assets/images/paypal-card.png" alt="">
                </div>
            </div>
            <div class="oneCol line">
                <input type="text">
            </div>
            <div class="oneCol line">
                <input type="number">
            </div>
            <div class="twoCol line">
                <input type="text">
                <input type="text">
            </div>
            <div class="oneCol line">
                <input type="email">
            </div>
            <a href="javascript:" title="Next">Next</a>
        </form>
        <h6>By Proceeding You Are Agreeing To Our Terms & Conditions</h6>
    </div>
    <div class="right pull-right">
        <div class="sticker">
            <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
            <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
        </div>
    </div>
    <span class="clearfix"></span>
</div>