.headerBlog{
  padding-top: 181px;
  padding-bottom: 62px;
  background-image: url('/assets/images/header-blog.png');
  background-size: cover;
  background-repeat: no-repeat;
  .category{}
  h4{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 15px;
    margin-top:28px;
    margin-bottom: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 28px;
  }
  h1{
    color: #ffffff;
    font-family: 'GTWalsheimProTrial-Bold',sans-serif;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h5{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 97px;
  }
  .date{
    span{
      color: #ffffff;
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      margin-right:35px;
    }
    a{
      display: inline-block;
      margin-right:17px;
      i{
        color: #fff;
      }
    }
    a:hover i{
      color:blue;
      opacity: 0.5;
    }
  }
}