<header id="headerSection" class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo">
                <a href="javascript:" title="javascript:"><img src="/assets/images/logo.svg" alt="logo"></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 menu">
                <ul>
                    <li><a href="javascript:" title="Memorial">Memorial</a></li>
                    <li><a href="#/about" title="About">About</a></li>
                    <li><a href="#/blog" title="Blog">Blog</a></li>
                    <li><a href="#/contact" title="Contact">Contact</a></li>
                    <li>
                        <a href="javascript:" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="javascript:" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="javascript:" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 icon-header">
                <a href="#/create-profile" title="Get started">Get Started</a>
                <img src="/assets/images/icon-header.png" alt="">
            </div>
        </div>
    </div>
</header>