#addLifeEvent{
  background: #f2f2f2;
  padding-top: 176px;
  img{}
  .content{
    max-width: 628px;
    margin: auto;
    margin-bottom: 110px;
    form{
      input{
        padding:25px;
        border-radius: 4px;
        border: 2px solid #e0e0e0;
        background-color: #fdfdfd;
        color: #000000;
        font-family: 'GTWalsheimProTrial-Regular',sans-serif;
        font-size: 17px;
        line-height: 26px;
      }
      label{
        color: #666666;
        font-size: 17px;
        line-height: 26px;
        max-width: 220px;
        margin-left:25px;
        position: relative;
      }
      h1{
        color: #000000;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 36px;
        line-height: 44px;
        text-align:center;
        margin-top:0;
        margin-bottom: 60px;
      }
      input{
        width: 100%;
      }
      .date{
        margin-top: 22px;
        margin-bottom: 23px;
        label{
          top:19px;
        }
        .inputDate{

          input{
            width: 95px;
            padding: 25px 0;
            text-align: center;
          }
          input:nth-child(2){
            width:141px ;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
      .location{
        margin-bottom: 23px;
        position: relative;
        label{
          top:13px;
        }
        input{
          width: 357px;
          padding: 25px;

        }
        .backBtn{
          position: absolute;
          left:-200px;
          top:-60px;
          display: inline-block;
          a{
            img{
              width: 58px;
              height: 58px;
              background: #d8d8d8;
              padding: 14px;
              border-radius: 50%;
            }
          }
          a:hover img{
            background: #000;
          }
        }
        .backBtn:after{
          content: 'Back';
          position: absolute;
          bottom: 15px;
          left: 13px;
          color: #828282;
          font-size: 13px;
        }
      }

      .message{
        position: relative;
        textarea{
          width: 100%;
          height: 137px;
          border-radius: 4px;
          border: 2px solid #e0e0e0;
          background-color: #fdfdfd;
          padding: 28px 25px;
          margin-bottom: 45px;
          color: #000000;
          font-family: 'GTWalsheimProTrial-Regular',sans-serif;
          font-size: 17px;
          line-height: 26px;
        }
      }
      .message:after{
        content:'/ 50 words';
        position: absolute;
        bottom: 65px;
        right: 25px;
        color: #c4c4c4;
        font-size: 17px;
        line-height: 26px;
      }
      a{
        color: #33b7ff;
        font-size: 17px;
        line-height: 20px;
        display: block;
        margin-bottom: 40px;
        text-align: center;
      }
      a:hover{
        color:#2666F8;
        font-size: 18px;
      }
      button{
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size:20px;
        border-radius: 100px;
        border: 3px solid #828282;
        color:#000;
        background: transparent;
        display: block;
        width: 302px;
        height: 48px;
        margin:auto;
      }
      button:hover{
        background:#828282;
        color:#fff;
      }
    }
  }
}