#contactPage{
  background:#3236ad;
  padding-top: 120px;
  padding-bottom: 160px;
  h1{
    color: #ffffff;
    font-family: 'GTWalsheimProTrial-Bold',sans-serif;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 58px;
  }
  form{
    max-width:628px;
    margin:auto;
    .twoCol{
      margin-bottom: 22px;
      input{
        display: inline-block;
        width: 302px;
        border-radius: 4px;
        border: 2px solid #e0e0e0;
        background-color: #fdfdfd;
        padding:25px;
        color: #000000;
        font-size: 17px;
        line-height: 26px;
        font-family: 'GTWalsheimProTrial-Regular',sans-serif;
      }
      input:focus{
        border-color:#33b7ff;
      }
      input:last-child{
        float:right;
      }
    }
    textarea{
      width: 100%;
      height: 160px;
      border-radius: 4px;
      border: 2px solid #e0e0e0;
      background-color: #fdfdfd;
      padding:28px 25px;
      color: #000000;
      font-size: 17px;
      line-height: 26px;
      font-family: 'GTWalsheimProTrial-Regular',sans-serif;
    }
    textarea:focus{
      border-color:#33b7ff;
    }
    button{
      border-radius: 100px;
      border: 3px solid #b1b1ff;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 20px;
      color: #fff;
      padding: 5px 117px;
      display: inherit;
      margin: auto;
      margin-top: 35px;
      background: transparent;
    }
    button:hover{
      background: #fff;
      color: #3236ad;
    }
  }
}