#homepage{
  .getStarted{
    background-image: url('/assets/images/bg_getStaredHome.png');
    background-size:cover;
    padding-top: 166px;
    padding-bottom: 161px;
    .content{
      h1{
        color: #ffffff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 72px;
        line-height: 74px;
      }
      p{
        color: #ffffff;
        font-size: 20px;
        line-height: 26px;
        max-width: 429px;
        margin-top:28px;
        margin-bottom: 28px;
      }
      a{
        color: #ffffff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 22px;
        line-height: 44px;
        border-radius: 100px;
        border: 3px solid #ffffff;
        padding: 7px 19px;
      }
      a:hover{
        background: #000;
      }
    }
  }
  .gingerSlide{
    .container-fluid{
      #myCarousel{
        background-color: #333333;
        .carousel-inner{
          .item{
            .col-lg-7{
              padding-top: 89px;
              padding-left:157px;
              h4{
                color: #ffffff;
                font-size: 22px;
                letter-spacing: 2px;
                line-height: 44px;
              }
              h3{
                color: #ffffff;
                font-family: 'GTWalsheimProTrial-Bold',sans-serif;
                font-size: 36px;
                line-height: 44px;
                margin-top:13px;
                margin-bottom: 34px;
              }
              a{
                border-radius: 100px;
                border: 3px solid #828282;
              }
              a:hover{
                background: #fff;
                color: #828282;
              }
              .viewProfileBtn{
                color: #ffffff;
                font-family: 'GTWalsheimProTrial-Bold',sans-serif;
                font-size: 18px;
                line-height: 14px;
                padding: 9px 30px;
                margin-right: 11px;
              }
              .likeBtn{
                color: #ffffff;
                font-size: 18px;
                line-height: 20px;
                padding: 9px 28px;
                i{
                  margin-right:8px;
                  display: inline-block;
                }
              }
            }
            .col-lg-5{
              img{}
            }
          }
        }
      }
    }
  }
  .amountUser{
    background: #000;
    padding-top:44px;
    padding-bottom:39px;
    .col-xs-12{

          .text{
            color: #ffffff;
            font-size: 20px;
            line-height: 44px;
            margin-left: 5px;
          }
          .number{
            color: #ffffff;
            font-family: 'GTWalsheimProTrial-Bold',sans-serif;
            font-size: 36px;
            line-height: 44px;
          }

    }
    .left{
      text-align: center;
    }
    .right{
      .number{
        margin-left:15px;
      }
    }
  }
  .mansory{
    .container-fluid{
      .loadMoreBtn{
        background: #1c1c1c;
        padding-top:56px;
        padding-bottom:43px;
        text-align: center;
        a{
          color: #ffffff;
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          font-size: 22px;
          font-weight: normal;
          line-height: 44px;
          display: inline-block;
          border: 3px solid #828282;
          border-radius: 100px;
          padding: 0px 28px;
        }
        a:hover{
          background: #fff;
          color: #1c1c1c;
        }
      }
    }
  }
  .profile{
    padding-top:103px;
    padding-bottom:100px;
    text-align: center;
    background-color: #333333;
    .container{
      h4{
        color: #ffffff;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 14px;
        text-transform: uppercase;
      }
      h2{
        color: #ffffff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 36px;
        line-height: 44px;
        margin-top:13px;
        margin-bottom: 13px;
      }
      h6{
        opacity: 0.72;
        color: #ffffff;
        font-size: 17px;
        max-width: 411px;
        line-height: 26px;
        margin:auto;
        margin-bottom: 100px;
      }
      .row{
        .item{
          img{}
          h3{
            color: #ffffff;
            font-family: 'GTWalsheimProTrial-Bold',sans-serif;
            font-size: 24px;
            line-height: 32px;
            margin-top:34px;
            margin-bottom:16px;
          }
          p{
            opacity: 0.83;
            color: #a3a3a3;
            font-size: 17px;
            line-height: 26px;
            max-width: 315px;
            margin:auto;
          }
        }
      }
        a{
          color: #ffffff;
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          font-size: 22px;
          font-weight: normal;
          line-height: 44px;
          display: inline-block;
          border: 3px solid #828282;
          border-radius: 100px;
          padding: 0px 28px;
          margin-top:69px;
        }
        a:hover{
          background: #fff;
          color: #1c1c1c;
        }
    }
  }

}