#loginPage{
  background: #f2f2f2;
  padding-top: 176px;
  img{}
  .content{
    max-width: 628px;
    margin: auto;
    margin-bottom: 110px;
    h1{
      color: #000000;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      margin: 0;
      margin-bottom: 70px;
    }
    a{
      color: #ffffff;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 22px;
      border-radius: 100px;
      background-color: #3b5998;
      border: 3px solid #3b5998;
      width: 100%;
      display: block;
      height: 81px;
      line-height: 75px;
      text-align: center;
      i{
        margin-right:18px;
      }
    }
    a:hover{
      color:#3b5998;
      background: transparent;
    }
    h2{
      color: #000000;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 25px;
    }
    input{
      width: 100%;
      padding: 25px;
      margin-bottom: 22px;
      color: #000000;
      font-family: 'GTWalsheimProTrial-Regular',sans-serif;
      font-size: 17px;
      line-height: 26px;
      border-radius: 4px;
      border: 2px solid #e0e0e0;
      background-color: #fdfdfd;
    }
    input[type="checkbox"]{
      margin: 0;
      margin-right:14px;
      padding: 0;
      -webkit-appearance: none;
      background: #fff;
      width: 25px;
      height: 26px;
      border-radius: 4px;
      border: 1px solid #e5e5e5;
      background-color: #33b7ff;
      position: relative;
      cursor: pointer;
      outline: none;
    }
    input[type="checkbox"]:after{
      content: '';
      width: 5px;
      height: 10px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      left: 10px;
      top: 7px;
      opacity: 0;
      transform: rotate(45deg);
    }
    input[type="checkbox"]:checked{
      outline: none;
    }
    input[type="checkbox"]:checked:after{
      opacity: 1;
    }
    span{
      color: #8a8a8a;
      font-size: 14px;
      line-height: 26px;
      position: relative;
      top:-8px;
    }
    button{
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size:20px;
      border-radius: 100px;
      border: 3px solid #828282;
      color:#000;
      background: transparent;
      display: block;
      width: 302px;
      height: 48px;
      margin: 31px auto 0;
    }
    button:hover{
      background:#828282;
      color:#fff;
    }
  }
}