#petsMemorialPage{
  input[type="checkbox"]{
    border: 2px solid #e5e5e5;
    background-color:transparent;
    outline:none;
  }
  input[type="checkbox"]:after{
    left:9px;
    top:6px;
  }
  input[type="checkbox"]:checked{
    background-color: #33b7ff;
  }
  input[type="checkbox"]:checked:after{}
  background-color: #151515;
  .wrapperFilter{
    position: relative;
    .filterPanel{
      padding:20px 20px 20px 50px;
      width: 320px;
      height:100%;
      background: #fff;
      position: absolute;
      z-index: 9999;
      top:0;
      left:0;
      transition: all 1s;
      text-align: right;
      img{
        cursor: pointer;
        transform: rotate(45deg);
      }
      .floatLeft{
        display: block;
        text-align: left;
        margin-top: 70px;
        p{
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          color: #000000;
          font-size: 20px;
          line-height: 44px;
          margin:0;
          i{
            margin-right: 18px;
          }
        }
        h1{
          margin-top: 15px;
          margin-bottom: 25px;
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          color: #000000;
          font-size: 36px;
          line-height: 44px;
        }
        h6{
          color: #000000;
          font-size: 18px;
          line-height: 24px;
          font-family: 'GTWalsheimProTrial-Regular',sans-serif;
        }
        .typeOfAnimal{
          padding: 0;
          list-style: none;
          .line{
            color: #8a8a8a;
            font-size: 14px;
            line-height: 26px;
            input{
              position: relative;
              top:9px;
            }
          }
        }
        .breed{
          list-style: none;
          padding:0;
          margin-top:25px;
          li{
            color: #000000;
            font-family:'GTWalsheimProTrial-Regular',sans-serif;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .memorialAnimal{
      .listAnimal{
        background-size: contain;
        list-style: none;
        background-repeat: no-repeat;
        padding: 0;
        background-position: center center;
        li{
          -webkit-transition: all 0.8s;
          transition: all 0.8s;
          height: 88px;
          line-height: 88px;
          padding: 0 50px;
          cursor: pointer;
          .animalName{
            color: #ffffff;
            font-family: 'GTWalsheimProTrial-Bold',sans-serif;
            font-size: 36px;
            line-height: 44px;
            display: inline-block;
            width: 25%;
          }
          .description{
            color: #ffffff;
            font-size: 18px;
            line-height: 24px;
            display: inline-block;
            width: 50%;
          }
          .dateOfDead{
            color: #ffffff;
            font-family: 'GTWalsheimProTrial-Bold',sans-serif;
            font-size: 18px;
            line-height: 44px;
            text-align: right;
            display: inline-block;
            width: -webkit-calc(25% - 8px);
            width: -moz-calc(25% - 8px);
            width: calc(25% - 8px);
            text-align:left;
            padding-left:50px;
            .dot{
              width: 11px;
              height: 11px;
              border: 1px solid #ffffff;
              background-color: #151515;
              border-radius: 50%;
              display: inline-block;
              margin-right: 27px;

              position: relative;
              &:after{
                content: '';
                display: inline-block;
                width: 2px;
                height: 78px;
                background: #fff;
                position: absolute;
                top: 9px;
                left: 4px;
              }
            }
          }
          &:last-child{
            .dateOfDead{
              .dot{
                &:after{
                  display: none;
                }
              }
            }
          }
        }
        li:hover{
          background:#fc7171;
        }
        li:hover .dot{
          background: #fff;
        }
      }
    }
    .loading{}
  }
  .partnership{
    padding-bottom: 0;
  }
  #loginPopup{
    form{
      background-color: #f1f1f1;
      max-width: 624px;
      padding: 45px 70px 51px 70px;
      margin:140px auto;
      > i{
        font-size: 25px;
        display: block;
        text-align: center;
      }
      h3{
        color: #000000;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        margin: 22px auto 34px;
        max-width: 478px;
      }
      > a{
        display: inline-block;
        color: #ffffff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 22px;
        line-height: 20px;
        text-align: center;
        border-radius: 100px;
        background-color: #3b5998;
        border:3px solid #3b5998;
        padding:17px 116px;
        i{
          display: inline-block;
          margin-right:16px;
        }
      }
      > a:hover{
        background: transparent;
        color:#3b5998;
      }
      span{
        color:#000;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size:20px;
        line-height: 30px;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      input[type="text"],input[type="password"]{
        border-radius: 4px;
        border: 2px solid #e0e0e0;
        background-color: #fdfdfd;
        width: 100%;
        padding:18px 20px;
        margin-bottom: 16px;
      }
      label{
        color: #8a8a8a;
        font-size: 13px;
        line-height: 26px;
        position: relative;
        top:-8px;
      }
      .button{
        margin-top: 16px;
        a{
          display: inline-block;
          width: 230px;
          height:46px;
          border-radius: 100px;
          border: 3px solid #828282;
          background: transparent;
          text-align: center;
          line-height: 40px;
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          font-size:20px;
          color:#000;
          &:hover{
            border-color: #000;
            background: #000;
            color:#fff;
          }
        }
      }
    }
  }
}