<main id="basicProfilePage">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 left">
                <img src="/assets/images/img-profile.png" alt="">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right">
                <div class="row">
                    <h1>Ginger</h1>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 information">
                        <h6><span>Name:</span>Ginger</h6>
                        <h6><span>Born:</span>23/11/2010</h6>
                        <h6><span>Gender:</span>Female</h6>
                        <h6><span>Breed:</span>Maine Coon</h6>
                    </div>
                </div>
                <div class="images">
                    <img class="img-responsive" src="/assets/images/profile-img-2.png" alt="">
                    <img class="img-responsive" src="/assets/images/profile-img-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>