<main id="editProfilePage">
    <section class="uploadSection">
        <label for="upload"><i class="fi flaticon-upload"></i>Upload Photo</label>
        <input type="file" id="upload">
    </section>
    <section class="socialSection">
        <div class="container">
            <div class="left pull-left"><i class="fa fa-heart" aria-hidden="true"></i>Pay your respects</div>
            <div class="right pull-right">
                <a href="javascript:" title="Facebook"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:" title="Instagram"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:" title="Share"><i class="fa fa-share-square-o" aria-hidden="true"></i>Share</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="infoAnimal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 left">
                    <img src="/assets/images/img-profile.png" alt="">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right">
                    <div class="row">
                        <h1>Ginger</h1>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 information">
                            <h6><span>Name:</span>Ginger</h6>
                            <h6><span>Born:</span>23/11/2010</h6>
                            <h6><span>Gender:</span>Female</h6>
                            <h6><span>Breed:</span>Maine Coon</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="images">
                <img class="img-responsive" src="/assets/images/profile-img-2.png" alt="">
                <img class="img-responsive" src="/assets/images/profile-img-3.png" alt="">
            </div>
        </div>
    </section>
    <section class="commentSection">
        <div  class="container">
            <span>Comments</span>
            <textarea placeholder="Share your thoughts…"></textarea>
            <div class="btnComment">
                <a href="javascript:" title="Cancel">Cancel</a>
                <a href="javascript:" title="Share">Share</a>
                <div class="dropdown">
                    <a href="javascript:" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fi flaticon-squares-gallery-grid-layout-interface-symbol"></i></a>
                    <div class="sticker dropdown-menu">
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="contentComment">
                <ul>
                    <li>
                        <div class="logo"><img src="/assets/images/cat-head-small.png" alt=""></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-1.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><span class="notImage"></span></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-2.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><span class="notImage"></span></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-1.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><img src="/assets/images/cat-head-small.png" alt=""></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-1.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><span class="notImage"></span></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-2.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><span class="notImage"></span></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-1.png" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>