<main id="premiumProfileTab">
    <section class="coverImage">
        <img src="/assets/images/header-premium-profile.png" class="img-responsive" alt="">
    </section>
    <section class="tabProfile">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <img src="/assets/images/cat-head.png" alt="" class="img-responsive">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>2,234</a>
                    <div><i class="fa fa-heart" aria-hidden="true"></i>Pay your respects</div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"></div>
            </div>
        </div>
    </section>
</main>