<main id="premiumProfileTab">
    <section class="coverImage">
        <img src="/assets/images/header-premium-profile.png" class="img-responsive" alt="">
        <div class="uploadImg uploadCover">
            <label for="uploadCover"><i class="fa fa-camera" aria-hidden="true"></i>Update Cover Picture</label>
            <input type="file" id="uploadCover" class="upload">
        </div>
        <div class="container">
            <div class="uploadImg uploadProfile">
                <img src="/assets/images/cat-head.png" alt="" class="img-responsive" style="">
                <label for="uploadProfile"><i class="fa fa-camera" aria-hidden="true"></i>Update Profile Picture</label>
                <input type="file" id="uploadProfile" class="upload">
            </div>
        </div>
    </section>
    <section class="navTab">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 left">

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div><i class="fa fa-heart" aria-hidden="true"></i>Pay your respects</div>
                    <a href="javascript:" title="like" class=""><i class="fa fa-heart" aria-hidden="true"></i>2,234</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#about" title="About">About</a></li>
                        <li><a data-toggle="tab" href="#photos"title="Photos" >Photos</a></li>
                        <li><a data-toggle="tab" href="#videos" title="Videos">Videos</a></li>
                        <li><a href="javascript:" title="Owner">Owner</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        <section class="social">
        <a href="javascript:" title="Facebook"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="javascript:" title="Instagram"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="javascript:" title="Share"><i class="fa fa-share-square-o" aria-hidden="true"></i>Share</a>
    </section>
    <section class="tabContent">
        <div class="container">
        <div class="tab-content">
            <div id="about" class="tab-pane fade in active">
                <h1>Ginger</h1>
                <div class="leftCol">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa…
                        <a href="javascript:" title="Read more">Read More</a></p>
                    <h3>Stats:</h3>
                    <div class="leftColChild">
                        <h6>Name: <span>Ginger</span></h6>
                        <h6>Born: <span>23/11/2003</span></h6>
                        <h6>Gender: <span>Female</span></h6>
                        <h6>Breed: <span>Maine Coon</span></h6>
                        <h6>Nickname: <span>Gingie</span></h6>
                    </div>
                    <div class="rightColChild">
                        <h6>Favourite Toy: <span>Cat Scratcher</span></h6>
                        <h6>BHabits: <span>Sleeping on face, cuddling, scratching</span></h6>
                        <h6>Characteristics: <span>Loving, Affectionate, Moody</span></h6>
                        <h6>BFavourite Food: <span>Purina One</span></h6>
                        <a href="javascript:" title="+ Add more">+ Add more</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rightCol">
                    <h3>Life Events:</h3>
                    <a href="#/add-life-event" title="Add a life event">+ Add a life event</a>
                    <ul class="listEvent">
                        <li>
                            <span>2009</span>
                            <p>Lived in New York and became a the favourite cat of the apartment</p>
                        </li>
                        <li>
                            <span>2007</span>
                            <p>Toilet trained</p>
                        </li>
                        <li>
                            <span>2003</span>
                            <p>Was born and welcomed home!</p>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="photos" class="tab-pane fade">
                <h2>Photos</h2>
            </div>
            <div id="videos" class="tab-pane fade">
                <h2>Videos</h2>
            </div>
        </div>
        </div>
    </section>
    <section class="comment">
        <div  class="container">
            <span>Comments</span>
            <textarea placeholder="Share your thoughts…"></textarea>
            <div class="btnComment">
                <a href="javascript:" title="Cancel">Cancel</a>
                <a href="javascript:" title="Share">Share</a>
                <div class="dropdown">
                    <a href="javascript:" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fi flaticon-squares-gallery-grid-layout-interface-symbol"></i></a>
                    <div class="sticker dropdown-menu">
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-1.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-2.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-3.png" alt=""></div>
                        <div class="colImg"><img src="/assets/images/sticker-4.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="contentComment">
                <ul>
                    <li>
                        <div class="logo"><img src="/assets/images/cat-head-small.png" alt=""></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-1.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><span class="notImage"></span></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-2.png" alt=""></div>
                    </li>
                    <li>
                        <div class="logo"><span class="notImage"></span></div>
                        <div class="content">
                            <h5>Full name</h5><span>12 hours ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit. Pellentesque finibus, velit ut ullamcorper pretium, massa.</p>
                        </div>
                        <div class="imgSticker"><img src="/assets/images/sticker-1.png" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>