#premiumProfileTab{
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #A9A9A9;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .uploadImg{
    position: absolute;
    label{
      color: #000000;
      font-size: 11px;
      width: 194px;
      height: 46px;
      line-height: 46px;
      border-radius: 100px;
      background-color: #ffffff;
      opacity: 0.77;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .5s;
      transition: all .5s;
      i{
        display: inline-block;
        margin-right: 9px;
      }
    }
    label:hover{
      transform: scale(1.2);
      background: #000;
      color:#fff;
    }
    input.upload{
      display: none;
    }
  }

 /*private*/

  .coverImage{
    position: relative;
    .uploadCover{
      top:30px;
      left:58px;
    }
    .uploadProfile{
      position: absolute;
      bottom: -170px;
      z-index: 2;
      img{
        width:280px;
        height:280px;
        border: 12px solid #ffffff;
        border-radius: 50%;
      }
      label{
        position: absolute;
        top: 42%;
        left: 16%;
      }
      input{}
    }
  }
  .social{
    text-align: right;
    padding: 40px 80px 94px 0;
    a{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 27px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid;
        margin-right: 6px;
        &:first-child{
          background-image: linear-gradient(to top, #e09b3d 0%, #c74c4d 30%, #c21975 66%, #7024c4 100%);
          border-color: #A51C91;
         }
        &:nth-child(2){
          background: #55acee;
          border-color: #55acee;
        }
        &:nth-child(3){
          background: #3b5998;
          border-color: #3b5998;
        }
        &:last-child{
          color: #ffffff;
          font-family: 'GTWalsheimProTrial-Regular',sans-serif;
          font-size: 14px;
          width: 77px;
          height: 31px;
          border-radius: 100px;
          background-color: #000000;
          border: 2px solid #000;
          &:hover{
            color:#2768F8;
          }
          i{
            margin-right:5px;
          }
        }
        &:hover{
          background: transparent;
        }
        &:hover i{
          color:#2768F8;
        }
        i{
          color: #fff;
        }
    }
  }
  .navTab{
    position: relative;
    height: 81px;
    background-color: #f7f7f7;
    line-height: 81px;
    .left{}
    .center{
      a{
        display: inline-block;
        margin-right: 30px;
        color: #ffffff;
        font-size: 17px;
        line-height: 34px;
        width: 101px;
        height: 34px;
        border-radius: 100px;
        background-color: #ff6463;
        text-align: center;
        margin-left: 30px;
        i{
            margin-right: 15px;
        }
      }
      div{
        display: inline-block;
        color: #000000;
        font-size: 17px;
        font-family: 'GTWalsheimProTrial-Regular',sans-serif;
        line-height: 20px;
        i{
          width: 35px;
          height: 34px;
          border-radius: 100px;
          background-color: #ff6463;
          line-height: 35px;
          text-align: center;
          color: #fff;
          margin-right: 20px;
        }
      }
    }
    .right{
      position: absolute;
      right:0;
      padding: 0;
      ul{
        border: 0;
        text-align: right;
        li{
          transition: all .5s;
          border-top:3px solid transparent;
          float: none;
          display: inline-block;
          a{
            background-color: transparent;
            padding: 0 30px;
            color: #000000;
            font-family:'GTWalsheimProTrial-Regular',sans-serif;
            font-size: 17px;
            line-height: 78px;
            margin-right:0;
            border: 0;
          }
          a:hover{
            color:#FF6463;
          }
        }
        li:last-child{
          background: #000;
          a{
            color: #fff;
          }
        }
        li.active{
          border-color:#000;
        }
      }
    }
  }
  .tabContent{
    padding-bottom: 115px;
    h1{
      color: #000000;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 36px;
      line-height: 44px;
    }
    .leftCol{
      width: 60%;
      display: inline-block;
      p{
        font-size: 17px;
        line-height: 26px;
        color: #696969;
        a{
          display: block;
          color: #33b7ff;
          &:hover{
            color: #2666F8;
            font-size:18px;
          }
        }
      }
      h3{
        color: #000000;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 20px;
        line-height: 44px;
      }
      .leftColChild{
        width: 30%;
        float: left;
        h6{
          color: #696969;
          font-size: 17px;
          line-height: 26px;
          span{
            color: #000000;
          }
        }
      }
      .rightColChild{
        width: 70%;
        float: left;
        h6{
          color: #696969;
          font-size: 17px;
          line-height: 26px;
          span{
            color: #000000;
          }
        }
        a{
          display: inline-block;
          color: #33b7ff;
          font-size: 17px;
          line-height: 20px;
          &:hover{
            transform: scale(1.2);
            color:#2666F8;
          }
        }
      }
    }
    .rightCol{
      width: 39%;
      display: inline-block;
      vertical-align: top;
      h3{
        color: #000000;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 23px 0;
      }
      a{
        display: inline-block;
        color: #33b7ff;
        font-size: 17px;
        line-height: 20px;
      }
      a:hover{
        transform: scale(1.2);
        color: #2666F8;
      }
      ul.listEvent{
        list-style: none;
        padding: 0;
        margin-top:16px;
        li{
          font-size: 17px;
          line-height: 26px;
          margin-bottom:16px;
          span{
            color: #696969;
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
          }
          p{
            display: inline-block;
            color: #000000;
            max-width: 196px;
            margin:0;
          }
        }
      }
    }
  }
}
