#premiumProfile{
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #A9A9A9;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .uploadImg{
    label{
      color: #000000;
      font-size: 11px;
      width: 194px;
      height: 46px;
      line-height: 46px;
      border-radius: 100px;
      background-color: #ffffff;
      opacity: 0.77;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .5s;
      transition: all .5s;
      i{
        display: inline-block;
        margin-right: 9px;
      }
      &:hover{
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        background: #000;
        color: #fff;
      }
    }
    input{
      display: none;
    }
  }
  .coverImage{
    position: relative;
    img{}
    .uploadCover{
      position: absolute;
      top:30px;
      left:58px;
    }
  }
  .updateProfileSection{
    background-color: #1c1c1c;
    .left{
      height: 390px;
      line-height: 390px;
      text-align: center;
      line-height: 390px;
      padding: 0;
      background: #fff;
      .uploadImg{
        vertical-align: middle;
        display: inline-block;
        position: relative;
        img{}
        label{
          position: absolute;
          left:15%;
          top:45%;
        }
        input{}
      }
    }
    .right{
      padding:0;
      .socialBar{
        height: 80px;
        line-height: 80px;
        background:#efefef;
        div{
          display: inline-block;
          color: #000000;
          font-size: 17px;
          font-family: 'GTWalsheimProTrial-Regular',sans-serif;
          margin-left: 45px;
          > i{
            width: 35px;
            height: 34px;
            border-radius: 100px;
            background-color: #ff6463;
            line-height: 35px;
            text-align: center;
            color: #fff;
            margin-right: 20px;
          }
        }
        > a{
          display: inline-block;
          margin-right: 30px;
          color: #ffffff;
          font-size: 17px;
          line-height: 34px;
          width: 101px;
          height: 34px;
          border-radius: 100px;
          background-color: #ff6463;
          text-align: center;
          margin-left: 30px;
          > i{
            margin-right: 15px;
          }
        }
        .social{
          > a{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 27px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid;
            margin-right: 6px;
            &:first-child{
              background-image: linear-gradient(to top, #e09b3d 0%, #c74c4d 30%, #c21975 66%, #7024c4 100%);
              border-color: #A51C91;
            }
            &:nth-child(2){
              background: #55acee;
              border-color: #55acee;
            }
            &:nth-child(3){
              background: #3b5998;
              border-color: #3b5998;
            }
            &:last-child{
              color: #ffffff;
              font-family: 'GTWalsheimProTrial-Regular',sans-serif;
              font-size: 14px;
              width: 77px;
              height: 31px;
              border-radius: 100px;
              background-color: #000000;
              border: 2px solid #000;
              i{
                margin-right:5px;
              }
              &:hover{
                color:#2768F8;
              }
            }
            &:hover{
              background: transparent;
            }
          }

        }
        .owner{
          display: inline-block;
          background: #000;
          color: #ffffff;
          font-size: 17px;
          height:80px;
          line-height: 80px;
          width: 145px;
          float: right;
          text-align: center;
        }
      }
      .info{
        margin-left: 68px;
        margin-top:68px;
        h1{
          color: #ffffff;
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          font-size: 36px;
          line-height: 44px;
          margin:0 0 17px 0;
        }
        p{
          font-size: 17px;
          color: #a3a3a3;
          line-height: 26px;
          max-width: 700px;
          max-height: 55px;
          overflow: hidden;
          margin-bottom:0;
        }
        a{
          display: inline-block;
          color: #33b7ff;
          font-size: 17px;
          line-height: 26px;
        }
      }
    }
  }
  .stats{
    padding:100px 0 130px 0;
    background-color: #333333;
    .leftCol{
      width: 60%;
      display: inline-block;
      h3{
        color: #fff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 8px 0;
      }
      .leftColChild{
        width: 30%;
        float: left;
        h6{
          color: #d3d3d3;
          font-size: 17px;
          line-height: 26px;
          span{
            color: #a3a3a3;
          }
        }
      }
      .rightColChild{
        width: 70%;
        float: left;
        h6{
          color: #d3d3d3;
          font-size: 17px;
          line-height: 26px;
          span{
            color: #a3a3a3;
          }
        }
        a{
          display: inline-block;
          color: #33b7ff;
          font-size: 17px;
          line-height: 20px;
          &:hover{
            transform: scale(1.2);
            color:#2666F8;
          }
        }
      }
    }
    .rightCol{
      width: 39%;
      display: inline-block;
      vertical-align: top;
      h3{
        color: #fff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 23px 0;
      }
      a{
        display: inline-block;
        color: #33b7ff;
        font-size: 17px;
        line-height: 20px;
      }
      a:hover{
        transform: scale(1.2);
        color: #2666F8;
      }
      ul.listEvent{
        list-style: none;
        padding: 0;
        margin-top:16px;
        li{
          font-size: 17px;
          line-height: 26px;
          margin-bottom:16px;
          span{
            color: #d3d3d3;
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
          }
          p{
            display: inline-block;
            color: #a3a3a3;
            max-width: 196px;
            margin:0;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .photoAndVideo{
    padding:103px 0;
    h3{
      color: #000000;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 20px;
      line-height: 20px;
      margin:0 0 20px 0;
    }
    .photos{
      h3{}
      .imgSection{
        margin-bottom: 58px;
        .bg{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .smallWrapper{
          width: 100%;
          height: 33%;
        }
        .smallImage{
          width: 50%;
          height:100%;
        }
        .largeImage{
          width:100%;
          height:67%;
        }
        .twoCol{
          width: 50%;
          height:100%;
        }
        width:100%;
        height:750px;
        .left{
          .smallWrapper{
            .smallImage{}
          }
          .largeImage{}
        }
        .right{
          .largeImage{}
          .smallWrapper{
            .smallImage{}
          }
        }
      }
    }
    .videos{
      h3{}
      .videoWrapper{
        .item{
          display: inline-block;
          position: relative;
          &:after{
            width: 100%;
            height:100%;
            display: block;
            content: '';
            background: rgba(0, 0, 0, 0.55);
            position: absolute;
            top:0;
            left:0;
            transform: scale(0);
            opacity: 0;
            transition: all .5s;
          }
          &:hover:after{
            transform: scale(1);
            opacity: 1;
            z-index: 999;
          }
          img.bg{}
          img.play{
            z-index: 9999;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            transition: all .5s;
            &:hover{
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}