#premiumProfileTab{
  .uploadImg{
    position: absolute;

    label{
      color: #000000;
      font-size: 11px;
      width: 194px;
      height: 46px;
      line-height: 46px;
      border-radius: 100px;
      background-color: #ffffff;
      opacity: 0.77;
      text-align: center;
      cursor: pointer;
      i{
        display: inline-block;
        margin-right: 9px;
      }
    }
    input.upload{
      display: none;
    }
  }

 /*private*/

  .coverImage{
    position: relative;
    .uploadCover{
      top:30px;
      left:58px;
    }
    .uploadProfile{
      position: absolute;
      bottom: -170px;
      img{
        width:280px;
        height:280px;
        border: 12px solid #ffffff;
        border-radius: 50%;
      }
      label{
        position: absolute;
        top: 42%;
        left: 16%;
      }
      input{}
    }
  }
  .social{
    text-align: right;
    padding: 40px 80px 94px 0;
    a{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 27px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid;
        margin-right: 6px;
        i{
          color: #fff;
        }
    }
    a:first-child{
      background:#3b5998;
      border-color:#3b5998 ;
    }
    a:nth-child(2){
      background:#55acee;
      border-color:#55acee;
    }
    a:nth-child(3){
      background-image: linear-gradient(to top, #e09b3d 0%, #c74c4d 30%, #c21975 66%, #7024c4 100%);
      border-color:#A51C91;
    }
    a:last-child{
      color: #ffffff;
      font-family: 'GTWalsheimProTrial-Regular',sans-serif;
      font-size: 14px;
      width: 77px;
      height: 31px;
      border-radius: 100px;
      background-color: #000000;
      i{
        margin-right:5px;
      }
    }
    a:hover{
      background: transparent;
    }
    a:hover i{
      color:#2768F8;
    }
  }
  .navTab{
    height: 81px;
    background-color: #f7f7f7;
    line-height: 81px;
    .left{}
    .center{
      a{
        display: inline-block;
        margin-right: 30px;
        color: #ffffff;
        font-size: 17px;
        line-height: 34px;
        width: 101px;
        height: 34px;
        border-radius: 100px;
        background-color: #ff6463;
        text-align: center;
        margin-left: 30px;
        i{
            margin-right: 15px;
        }
      }
      div{
        display: inline-block;
        color: #000000;
        font-size: 17px;
        font-family: 'GTWalsheimProTrial-Regular',sans-serif;
        line-height: 20px;
        i{
          width: 35px;
          height: 34px;
          border-radius: 100px;
          background-color: #ff6463;
          line-height: 35px;
          text-align: center;
          color: #fff;
          margin-right: 20px;
        }
      }
    }
    .right{}
  }
  .tabContent{
    padding-bottom: 115px;
    h1{
      color: #000000;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 36px;
      line-height: 44px;
    }
    .leftCol{
      width: 60%;
      display: inline-block;
      p{
        font-size: 17px;
        line-height: 26px;
        color: #696969;
        a{
          display: block;
          color: #33b7ff;
        }
      }
      h3{
        color: #000000;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 20px;
        line-height: 44px;
      }
      .leftColChild{
        width: 30%;
        float: left;
        h6{
          color: #696969;
          font-size: 17px;
          line-height: 26px;
          span{
            color: #000000;
          }
        }
      }
      .rightColChild{
        width: 70%;
        float: left;
        h6{
          color: #696969;
          font-size: 17px;
          line-height: 26px;
          span{
            color: #000000;
          }
        }
        a{
          color: #33b7ff;
          font-size: 17px;
          line-height: 20px;
        }
      }
    }
    .rightCol{
      width: 39%;
      display: inline-block;
      vertical-align: top;
    }
  }
  .comment{
    background-color: #fafafb;
    padding-top: 80px;
    padding-bottom: 90px;
    span{
      color: #656565;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 44px;
      text-transform: uppercase;
    }
    textarea{
      width: 100%;
      border-radius: 4px;
      background-color: #fdfdfd;
      padding:25px;
      margin-bottom: 16px;
    }
    .btnComment{
      text-align: right;
      > a{
        display: inline-block;
        width: 94px;
        height: 31px;
        line-height: 24px;
        border-radius: 100px;
        border: 3px solid #000000;
        background: #000;
        text-align: center;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        color: #fff;
        margin-right: 8px;
      }
      > a:hover{
        background: transparent;
        color: #000;
      }

      .dropdown{
        display: inline-block;
        > a{
          display: inline-block;
          width: 33px;
          height: 33px;
          line-height: 31px;
          background-color: #3236ad;
          color: #fff;
          text-align: center;
          border-radius: 50%;
          border: 2px solid #3236ad;
        }
        > a:hover{
          background: transparent;
          i{
            color:#3236ad;
          }
        }
        .sticker{
          overflow: scroll;
          width: 393px;
          height: 452px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          border: 1px solid #d8d8d8;
          background-color: #ffffff;
          ::-webkit-scrollbar {
            width: 12px;
          }

          ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
          }

          ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
          }


          .colImg{
            display: inline-block;
            width: 32%;
            text-align: center;
            margin: 25px 0;
            img{
              width: 65px;
              height: auto;
              cursor: pointer;
              animation: all 0.5s;
            }
            img:hover{
              transform: scale(1.2);
            }
          }
        }
        .sticker:after{
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          background: red;
          transform: rotate(45deg);
        }
        .dropdown-menu{
          left: inherit;
          right:0;
          top:50px;
        }
      }
    }
    .contentComment{
      margin-top:43px;
      ul{
        list-style: none;
        background: #fff;
        padding:0;
        li{
          padding:35px;
          margin: 0 30px;
          background: #fff;
          border-bottom: 1px solid #e5e5e5;
          .logo{
            vertical-align: top;
            margin-right:27px;
            display: inline-block;
            position: relative;
            top: 25px;
            .notImage{
              display: inline-block;
              width: 43px;
              height: 43px;
              border-radius: 50%;
              background: #d8d8d8;
            }
          }
          .content{
            display: inline-block;
            h5{
              margin:0 15px 0 0;
              color: #000000;
              font-family:'GTWalsheimProTrial-Regular',sans-serif;
              font-size: 15px;
              line-height: 26px;
              display: inline-block;
            }
            span{
              display: inline-block;
              color: #7f7f7f;
              font-size: 13px;
              line-height: 26px;
            }
            p{
              color: #606060;
              font-size: 15px;
              line-height: 23px;
              max-width: 600px;
            }
          }
          .imgSticker{
            float: right;
          }
        }
        li:last-child{
          border:0;
        }
      }
    }
  }
}