$bgBody: #eeeeee;
$bgEdit: #eeeeee;
$bgCategory: #898c93;
$bgDate: #898c93;
$bgReceiptName:#262c39;

$colorTop: #616161;
$mainColor: #353942;
$mainHighlight: #2e71f2;
$TextColorWhite: #FFFFFF;
$TextColorGray: #9c9c9c;
$TextColorTitle: #949494;
$mainHoverItem: #5b9de5;
$linkColor: #2e71f2;
$left-menu: #262c39;
$bgBlue:#276cf2;
$bgGreen: #00cfad;
$bgGay: #bbbbbb;

$error: #d9534f;

$mainColor: #f22e00;