.nat-Warning01:before {
  content: "\e915";
}
.nat-arrow_right:before {
  content: "\e916";
}
.nat-message:before {
  content: "\e917";
}
.nat-icon-date:before {
  content: "\e909";
}
.nat-icon-bell:before {
  content: "\e901";
}
.nat-icon-cloudy:before {
  content: "\e902";
}
.nat-icon-date2:before {
  content: "\e903";
}
.nat-icon-dots:before {
  content: "\e904";
}
.nat-icon-drop:before {
  content: "\e905";
}
.nat-icon-edit:before {
  content: "\e906";
}
.nat-icon-list-menu:before {
  content: "\e907";
}
.nat-icon-messege:before {
  content: "\e908";
}
.nat-icon-search:before {
  content: "\e90c";
}
.nat-icon-sort-down:before {
  content: "\e90d";
}
.nat-icon-justdone:before {
  content: "\e900";
}
.nat-cancel:before {
  content: "\e914";
}
.nat-clock:before {
  content: "\e90f";
}
.nat-pen-angled:before {
  content: "\e913";
}
.nat-information:before {
  content: "\e910";
}
.nat-settings:before {
  content: "\e911";
}
.nat-check:before {
  content: "\e912";
}
.nat-dot-circle-o:before {
  content: "\e90b";
}
.nat-primitive-dot:before {
  content: "\e90a";
}
.nat-home:before {
  content: "\e918";
}
.nat-list2:before {
  content: "\e9bb";
}
.nat-menu:before {
  content: "\e9bd";
}
.nat-paragraph-justify:before {
  content: "\ea7a";
}
.nat-chevron-with-circle-up:before {
  content: "\e90e";
}
