a,button,img{
  text-decoration:none !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline:none;
}
textarea,input[type="text"],input[type="number"],input[type="email"],input[type="password"],select{
  border: 2px solid transparent !important;
  &:focus{
    border: 2px solid #33b7ff !important;
    outline: none !important;
  }
}
textarea,input{
  color: #000;
  font-family: 'GTWalsheimProTrial-Regular',sans-serif;
  font-size: 17px;
  line-height: 26px;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
  background-color: #fdfdfd;
}
select{
  border-radius: 4px;
  border: 2px solid #e0e0e0;
  background-color: #fdfdfd;
}
body{
  font-family:'GTWalsheimProTrial-Medium',sans-serif;
}
input[type="checkbox"]{
  margin: 0;
  margin-right:14px;
  padding: 0;
  -webkit-appearance: none;
  background: #fff;
  width: 25px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #d3d2d3;
  background-color: #33b7ff;
  position: relative;
  cursor: pointer;
  outline: none;
}
input[type="checkbox"]:after{
  content: '';
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  left: 10px;
  top: 7px;
  opacity: 0;
  transform: rotate(45deg);
}
input[type="checkbox"]:checked{
  outline: none;
}
input[type="checkbox"]:checked:after{
  opacity: 1;
}
input[type="radio"]{
  margin: 0;
  margin-right:14px;
  padding: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius:50%;
  border: 1px solid #d3d2d3;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  outline: none;
}
input[type="radio"]:after{
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: #33B7FF;
  left:0;
  top: 0;
  opacity: 0;
}
input[type="radio"]:checked{
  outline: none;
}
input[type="radio"]:checked:after{
  opacity: 1;
}
.category{
  display: inline-block;
  color: #ffffff;
  font-family: 'GTWalsheimProTrial-Bold',sans-serif;
  font-size: 18px;
  line-height: 23px;
  padding: 3px 18px;
  border-radius: 100px;
  background-color: #8d8d8d;
  opacity: 0.57;
  border: 2px solid #8d8d8d;
}
.category:hover{
  background: #fff;
  color:#8d8d8d;
}
.placeholderForm{
  ::-webkit-input-placeholder {
    color: #c4c4c4;
    font-family: 'GTWalsheimProTrial-Light',sans-serif;
    font-size: 17px;
    line-height: 26px;
  }
  ::-moz-placeholder {
    color: #c4c4c4;
    font-family: 'GTWalsheimProTrial-Light',sans-serif;
    font-size: 17px;
    line-height: 26px;
  }
  :-ms-input-placeholder {
    color: #c4c4c4;
    font-family: 'GTWalsheimProTrial-Light',sans-serif;
    font-size: 17px;
    line-height: 26px;
  }
  :-moz-placeholder {
    color: #c4c4c4;
    font-family: 'GTWalsheimProTrial-Light',sans-serif;
    font-size: 17px;
    line-height: 26px;
  }
}
ul{
  margin:0;
}
.mansory{
  width:100%;
  height:795px;
  .item{
    transition: all .5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    &:after{
      content: '';
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      width: 100%;
      height:100%;  
      position: absolute;
      border: 4px solid #11c568;
      background: linear-gradient(180deg, rgba(237, 237, 237, 0) 3%, #000000 97%);
    }
    &:hover{   
      -webkit-filter:inherit;
      filter: inherit;
      .content{
        display: block;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
      &:after{
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    .content{
      position: absolute;
      left:35px;
      bottom:35px;
      display: none;
      z-index: 9999;
      transition: all .5s;
      h3{
        color: #ffffff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 24px;
        line-height: 44px;
        margin-bottom: 7px;
      }
      .viewProfileBtn{
        color: #ffffff;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        font-size: 13px;
        padding:1px 10px;
        border-radius: 100px;
        border: 2px solid #a3a3a3;
        &:hover{
          background: #a3a3a3;
        }
      }
      .likeBtn{
        color: #ffffff;
        font-size: 12px;
        line-height: 20px;
        padding: 2px 14px;
        border-radius: 100px;
        background-color: #ff6463;
        border: 3px solid #ff6463;
        font-family: 'GTWalsheimProTrial-Bold',sans-serif;
        &:hover{
          background: #fff;
          color:#ff6463;
        }
        i{
          margin-right:4px;
        }
      }
    }
  }
  .col-75{
    width:75%;
    height:100%;
    .col-50{
      width:50%;
      height:100%;
      .two-small{
        .one-small{
          width: 50%;
          height:275px;
        }
      }
      .one-large{
        width: 100%;
        height:520px;
      }
    }
  }
  .col-25{
    width:25%;
    height:100%;
    .one-medium{
      width: 100%;
      height: 50%;
    }
  }
}
.partnership{
  padding-top: 102px;
  padding-bottom:90px;
  background: #fff9f8;


    h2{
      color: #ff3f36;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      font-size: 48px;
      line-height: 54px;
      max-width: 390px;
      margin: auto;
      text-align: center;
    }
    p{
      color: #a3a3a3;
      font-size: 17px;
      max-width: 380px;
      max-width: 380px;
      margin:auto;
      margin-top:26px;
      line-height: 26px;
      margin-bottom:90px;
      text-align: center;
    }
    img{
      width: 100%;
    }
}
.btnStep a img{
  width: 58px;
  height: 58px;
  background: #d8d8d8;
  padding: 14px;
  border-radius: 50%;
}
.formPage{
  padding-top: 173px;
  background:#F2F2F2 ;
}
.formPage h1{
  color: #000000;
  font-family: 'GTWalsheimProTrial-Bold',sans-serif;
  font-size: 36px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 59px;
  text-align: center;
}
.btnStep a:hover img{
  background: #000;
}
.btnStep{
  position: absolute;
}    
.btnStep:after{
  position: absolute;
  bottom: -25px;
  color: #828282;
  font-size: 13px;
  width: 60px;
  font-family: 'GTWalsheimProTrial-Regular',sans-serif;
}
.btnNextStep{
    a{
      img{
        transform: rotateY(180deg);
      }
    }
}
.btnNextStep:after{
  content: 'Next Step';
  left: 5px;

}
.btnPrevStep:after{
  content: 'Back';
  left: 15px;
}
.message{
  position: relative;
}
.message:after{
  content:'/ 50 words';
  position: absolute;
  bottom: 65px;
  right: 25px;
  color: #c4c4c4;
  font-size: 17px;
  line-height: 26px;
}
.message textarea{
  width: 100%;
  height: 137px;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
  background-color: #fdfdfd;
  padding: 28px 25px;
  margin-bottom: 45px;
  color: #000000;
  font-family: 'GTWalsheimProTrial-Regular',sans-serif;
  font-size: 17px;
  line-height: 26px;
}
.choosed{
  background-color:#008379 !important;
}
.commentSection{
  background-color: #fafafb;
  padding-top: 80px;
  padding-bottom: 90px;
  span{
    color: #656565;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 44px;
    text-transform: uppercase;
  }
  textarea{
    width: 100%;
    border-radius: 4px;
    background-color: #fdfdfd;
    padding:25px;
    margin-bottom: 16px;
  }
  .btnComment{
    text-align: right;
    > a{
      display: inline-block;
      width: 94px;
      height: 31px;
      line-height: 24px;
      border-radius: 100px;
      border: 3px solid #000000;
      background: #000;
      text-align: center;
      font-family: 'GTWalsheimProTrial-Bold',sans-serif;
      color: #fff;
      margin-right: 8px;
    }
    > a:hover{
      background: transparent;
      color: #000;
    }

    .dropdown{
      display: inline-block;
      > a{
        display: inline-block;
        width: 33px;
        height: 33px;
        line-height: 31px;
        background-color: #3236ad;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #3236ad;
      }
      > a:hover{
        background: transparent;
        i{
          color:#3236ad;
        }
      }
      .sticker{
        overflow-y: scroll;
        width: 393px;
        height: 452px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border: 1px solid #d8d8d8;
        background-color: #ffffff;
        .colImg{
          display: inline-block;
          width: 32%;
          text-align: center;
          margin: 25px 0;
          img{
            width: 65px;
            height: auto;
            cursor: pointer;
            animation: all 0.5s;
          }
          img:hover{
            transform: scale(1.2);
          }
        }
      }
      .dropdown-menu{
        left: inherit;
        right:-35px;
        top:50px;
        border-radius: 7px;
      }
    }
    .open{
      &:after{
        content:'';
        display: inline-block;
        width: 20px;
        height:20px;
        background: #fff;
        transform:rotate(45deg);
        position: absolute;
        top:42px;
        right:5px;
        z-index: 9999;
        border: 1px solid #d8d8d8;
        border-right: 0;
        border-bottom: 0;
      }
    }
  }
  .contentComment{
    margin-top:43px;
    ul{
      list-style: none;
      background: #fff;
      padding:0;
      max-height: 550px;
      overflow-y: scroll;
      li{
        padding:35px;
        margin: 0 30px;
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
        .logo{
          vertical-align: top;
          margin-right:27px;
          display: inline-block;
          position: relative;
          top: 25px;
          .notImage{
            display: inline-block;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            background: #d8d8d8;
          }
        }
        .content{
          display: inline-block;
          h5{
            margin:0 15px 0 0;
            color: #000000;
            font-family:'GTWalsheimProTrial-Bold',sans-serif;
            font-size: 15px;
            line-height: 26px;
            display: inline-block;
          }
          span{
            display: inline-block;
            color: #7f7f7f;
            font-size: 13px;
            line-height: 26px;
            text-transform: none;
            font-family: 'GTWalsheimProTrial-Regular',sans-serif;
          }
          p{
            color: #606060;
            font-size: 15px;
            line-height: 23px;
            max-width: 600px;
            font-family: 'GTWalsheimProTrial-Regular',sans-serif;
          }
        }
        .imgSticker{
          float: right;
        }
      }
      li:last-child{
        border:0;
      }
    }
  }
}




