@font-face {
  font-family: 'GTWalsheimProTrial-Bold';
  src: url('/assets/fonts/GTWalsheimProTrial-Bold/GTWalsheimProTrial-Bold.eot');
  src: url('/assets/fonts/GTWalsheimProTrial-Bold/GTWalsheimProTrial-Bold.woff2') format('woff2'),
  url('/assets/fonts/GTWalsheimProTrial-Bold/GTWalsheimProTrial-Bold.woff') format('woff'),
  url('/assets/fonts/GTWalsheimProTrial-Bold/GTWalsheimProTrial-Bold.ttf') format('truetype'),
  url('/assets/fonts/GTWalsheimProTrial-Bold/GTWalsheimProTrial-Bold.svg#svgFontName') format('svg'),
  url('/assets/fonts/GTWalsheimProTrial-Bold/GTWalsheimProTrial-Bold.eot?#iefix') format('embedded-opentype');
  font-weight:normal!important;
}

@font-face {
  font-family: 'GTWalsheimProTrial-Light';
  src: url('/assets/fonts/GTWalsheimProTrial-Light/GTWalsheimProTrial-Light.eot');
  src: url('/assets/fonts/GTWalsheimProTrial-Light/GTWalsheimProTrial-Light.woff2') format('woff2'),
  url('/assets/fonts/GTWalsheimProTrial-Light/GTWalsheimProTrial-Light.woff') format('woff'),
  url('/assets/fonts/GTWalsheimProTrial-Light/GTWalsheimProTrial-Light.ttf') format('truetype'),
  url('/assets/fonts/GTWalsheimProTrial-Light/GTWalsheimProTrial-Light.svg#svgFontName') format('svg'),
  url('/assets/fonts/GTWalsheimProTrial-Light/GTWalsheimProTrial-Light.eot?#iefix') format('embedded-opentype');
  font-weight:normal!important;
}

@font-face {
  font-family: 'GTWalsheimProTrial-Medium';
  src: url('/assets/fonts/GTWalsheimProTrial-Medium/GTWalsheimProTrial-Medium.eot');
  src: url('/assets/fonts/GTWalsheimProTrial-Medium/GTWalsheimProTrial-Medium.woff2') format('woff2'),
  url('/assets/fonts/GTWalsheimProTrial-Medium/GTWalsheimProTrial-Medium.woff') format('woff'),
  url('/assets/fonts/GTWalsheimProTrial-Medium/GTWalsheimProTrial-Medium.ttf') format('truetype'),
  url('/assets/fonts/GTWalsheimProTrial-Medium/GTWalsheimProTrial-Medium.svg#svgFontName') format('svg'),
  url('/assets/fonts/GTWalsheimProTrial-Medium/GTWalsheimProTrial-Medium.eot?#iefix') format('embedded-opentype');
  font-weight:normal!important;
}

@font-face {
  font-family: 'GTWalsheimProTrial-Regular';
  src: url('/assets/fonts/GTWalsheimProTrial-Regular/GTWalsheimProTrial-Regular.eot');
  src: url('/assets/fonts/GTWalsheimProTrial-Regular/GTWalsheimProTrial-Regular.woff2') format('woff2'),
  url('/assets/fonts/GTWalsheimProTrial-Regular/GTWalsheimProTrial-Regular.woff') format('woff'),
  url('/assets/fonts/GTWalsheimProTrial-Regular/GTWalsheimProTrial-Regular.ttf') format('truetype'),
  url('/assets/fonts/GTWalsheimProTrial-Regular/GTWalsheimProTrial-Regular.svg#svgFontName') format('svg'),
  url('/assets/fonts/GTWalsheimProTrial-Regular/GTWalsheimProTrial-Regular.eot?#iefix') format('embedded-opentype');
  font-weight:normal!important;
}