<main id="aboutPage" class="">
    <section class="titlePage">
        <h1>We’re dog-lovers, cat-fanatics, bird-fans and more</h1>
    </section>
    <section class="introducePage">
        <p>We understand that losing a pet is an incredibly heart-breaking thing to go through so we wanted to create a space where owners can eternally memorialise their pet by hosting personalised pages that can be visited, shared and loved.</p>
    </section>
    <section class="lifePet">
        <div class="container">
            <p>Our pets’ lives are about the memories, the photos, the stories, the favourite toys, the funny adventures, the quirky habits and, most importantly, the lasting impact they leave on us.</p>
        </div>
        <img src="/assets/images/leg_dog.png" alt="">
    </section>
    <section class="memoriesPet">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <img src="/assets/images/girlHugDog.png" alt="">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <p>Compile all these memories in one place with Pets Forever. Tails never forgotten…</p>
                </div>
            </div>

        </div>
    </section>
    <section class="partnership">
        <div class="container">
            <h2>In Partnership With The RSPCA</h2>
            <p>We support the incredible work of the RSPCA with …% of proceeds going straight to the charity.</p>
            <img src="assets/images/dog-walk.png" alt="">
        </div>
    </section>
</main>
