<ng-include src="'./templates/navigation/top.html'"></ng-include>
<main id="aboutPage" class="">
    <section class="titlePage">
        <h1>We’re dog-lovers, cat-fanatics, bird-fans and more</h1>
    </section>
    <section class="introducePage">
        <p>We understand that losing a pet is an incredibly heart-breaking thing to go through so we wanted to create a space where owners can eternally memorialise their pet by hosting personalised pages that can be visited, shared and loved.</p>
    </section>
    <section class="lifePet" style="background-image: url('/assets/images/leg_dog.png');">
        <div class="container">
            <p>Our pets’ lives are about the memories, the photos, the stories, the favourite toys, the funny adventures, the quirky habits and, most importantly, the lasting impact they leave on us.</p>
        </div>
    </section>
    <section class="memoriesPet">
        <div class="container">
            <p>Compile all these memories in one place with Pets Forever. Tails never forgotten…</p>
        </div>
    </section>
    <section class="partnership">
        <div class="container">
            <h2>In Partnership With The RSPCA</h2>
            <p>We support the incredible work of the RSPCA with …% of proceeds going straight to the charity.</p>
            <img src="assets/images/dog-walk.png" alt="">
        </div>
    </section>
</main>
<ng-include src="'./templates/navigation/bottom.html'"></ng-include>