<main id="blogArticlePage">
    <ng-include src="'./templates/element/headerBlog.html'"></ng-include>
    <section class="content">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 leftCol">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et sem interdum purus accumsan pretium ut lacinia lacus.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et sem interdum purus accumsan pretium ut lacinia lacus. Maecenas nec dapibus eros, quis pharetra odio. Suspendisse venenatis ipsum porttitor massa volutpat semper. Aliquam erat volutpat. Donec fringilla tincidunt ex id vehicula. Mauris maximus urna non eleifend malesuada. Etiam egestas porta ante. Donec ac aliquet ligula, at tristique nibh. Cras semper velit lorem, in molestie erat euismod et. Praesent rhoncus imperdiet dictum. Vestibulum magna justo, tincidunt quis euismod et, pellentesque non lacus. Nam et mi ac lacus lacinia convallis in nec libero. Morbi nibh nibh, feugiat non tempor et, euismod id est. Suspendisse tincidunt magna a aliquet varius. Donec posuere consectetur ante a scelerisque. Nam tincidunt enim a libero varius, gravida dignissim ex mollis.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur quis velit eget neque molestie pretium vel nec augue. Nullam nibh neque, venenatis quis gravida vitae, viverra eu ipsum. Praesent dapibus nunc nec mauris pharetra dictum. In ultricies dui in nunc congue tincidunt. Maecenas ultricies ultrices tortor ac euismod. Nulla facilisi. Ut ut turpis mollis, rhoncus sapien eu, lacinia dui. Ut egestas feugiat lectus, vitae rutrum arcu pretium et. Morbi rutrum orci ultricies elementum imperdiet. Proin nec nulla aliquet, scelerisque quam ullamcorper, lacinia ex. Suspendisse euismod volutpat nunc ac rutrum.</p>
                <p>Praesent porta turpis ac massa mollis maximus. Mauris dapibus egestas convallis. Vivamus sodales porttitor neque. Quisque lacinia enim mauris, vel tincidunt eros aliquam hendrerit. Nullam mollis massa ut luctus aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at lobortis enim.</p>
                <p>Morbi varius magna in dapibus dignissim. Suspendisse aliquet, nibh egestas suscipit maximus, nulla dolor dictum lectus, eu commodo diam tellus ac sem. Nam condimentum sem vitae semper pretium. Aenean faucibus nisl non nunc bibendum ultricies. Nam eget efficitur urna. Nunc rhoncus urna ligula, consequat blandit magna pulvinar non. Vestibulum vel turpis id sem placerat dignissim. Ut vitae ex quis lacus condimentum dignissim. Maecenas a massa consequat, efficitur erat nec, finibus nulla. Fusce in nulla nisi. Maecenas gravida tortor lectus. Aliquam sit amet sollicitudin dui, in eleifend libero.</p>
                <p>Curabitur dictum metus nunc, vitae congue quam blandit lacinia. Suspendisse suscipit sodales felis, et vestibulum nisi consectetur eu. Integer tristique faucibus molestie. Praesent non commodo ex. Cras auctor tellus et mi sollicitudin sagittis. Sed fringilla lacus ut massa molestie dapibus. Ut eu semper augue, non fermentum turpis. Aenean ut turpis sit amet risus sagittis eleifend ac ut augue. Aliquam malesuada pharetra luctus. Vivamus sed risus condimentum, pellentesque sapien nec, semper orci. Praesent sed malesuada justo, a tincidunt nunc. Phasellus sagittis sagittis varius. Fusce non hendrerit nibh, vitae tristique urna. Nunc eu posuere turpis. Sed luctus vitae urna sed tincidunt. Etiam dolor est, aliquam a turpis placerat, interdum imperdiet libero.</p>
                <div class="social">
                    <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <div class="rightCol">
                    <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                    <input type="email" placeholder="Enter your email address">
                    <a href="javascript:" title="Get Started">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section class="partnership">
        <div class="container-fluid">
            <h2>In partnership with RSPCA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit.</p>
            <img class="img-responsive" src="assets/images/login_page.png" alt="">
        </div>
    </section>
</main>
