<ng-include src="'./templates/navigation/top.html'"></ng-include>
<main id="blogPage">
    <section class="header">
        <div class="container">
            <a href="javascript:" title="Category" class="category">Category</a>
            <h4>Featured</h4>
            <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
            <div class="date">
                <span>November 29th 2016, By Eric Hsu</span>
                <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
    <section class="contentBlog">
        <div class="container">
            <div class="row firstRow">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="leftCol height backgroundImg">
                        <a href="javascript:" title="Category" class="category">Category</a>
                        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                        <span class="postDate">November 29th 2016, By Eric Hsu</span>
                        <div>
                            <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="rightCol height">
                        <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                        <input type="email" placeholder="Enter your email address">
                        <a href="javascript:" title="Get Started">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="row secondRow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="leftCol height">
                        <div>
                            <span class="pull-left">Twitter</span>
                            <a href="javascript:" title="Twitter" class="pull-right"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <div class="clearfix"></div>
                        </div>
                        <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                    <div class="rightCol height backgroundImg">
                        <a href="javascript:" title="Category" class="category">Category</a>
                        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                        <span class="postDate">November 29th 2016, By Eric Hsu</span>
                        <div>
                            <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row lastRow">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                    <div class="leftCol height backgroundImg">
                        <a href="javascript:" title="Category" class="category">Category</a>
                        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                        <span class="postDate">November 29th 2016, By Eric Hsu</span>
                        <div>
                            <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="rightCol height">
                        <a href="javascript:" title="Category" class="category">Category</a>
                        <h2>Lorem ipsum dolor sit.</h2>
                        <span class="postDate">November 29th 2016, By Eric Hsu</span>
                        <div>
                            <a href="javascript:" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="javascript:" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paginationLine">
                <a href="javascript:" title="Previous" class="pull-left preNext">Previous</a>
                <div class="numberPage" >
                    <a href="javascript:" title="1" class="active">1</a>
                    <a href="javascript:" title="2">2</a>
                    <a href="javascript:" title="3">3</a>
                    <a href="javascript:" title="4">4</a>
                </div>
                <a href="javascript:" title="Next" class="pull-right preNext">Next</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="partnership">
        <div class="container">
            <h2>In partnership with RSPCA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit.</p>
            <img class="img-responsive" src="assets/images/login_page.png" alt="">
        </div>
    </section>
</main>
<ng-include src="'./templates/navigation/bottom.html'"></ng-include>