<main id="createProfileCopy3Page" ng-controller="Step3Controller" ng-init="event.onLoad()">
    <h1>Select Animal</h1>
    <div class="container">
        <div class="row">
            <div class="content">
                <div ng-click="fn.choosed(1)" ng-class="{'choosed':data.selected == 1 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item "  style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(2)" ng-class="{'choosed':data.selected == 2 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(3)" ng-class="{'choosed':data.selected == 3 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(4)" ng-class="{'choosed':data.selected == 4 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(5)" ng-class="{'choosed':data.selected == 5 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(6)" ng-class="{'choosed':data.selected == 6 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(7)" ng-class="{'choosed':data.selected == 7 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(8)" ng-class="{'choosed':data.selected == 8 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div ng-click="fn.choosed(9)" ng-class="{'choosed':data.selected == 9 }" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
            </div>
        </div>
    </div>
</main>
