<style>
    .bg{
        background: red;
    }
</style>
<main id="createProfileCopy3Page">
    <h1>Select Animal</h1>
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item choosed"  style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" style="background-image: url('/assets/images/animal-2.svg');">
                    <h3>Dog</h3>
                </div>
            </div>
        </div>
    </div>
</main>