
<main id="loginPage" class="formPage">
    <div class="content">
        <h1>Welcome Back</h1>
        <a href="javascript:"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>
        <h2>OR</h2>
        <input type="email" placeholder="Enter your email">
        <input type="password" placeholder="Password">
        <input type="checkbox"><span for="">Remember me</span>
        <button>Login</button>
    </div>
    <img class="img-responsive" src="/assets/images/login_page.png" alt="">
</main>
