<main id="petsMemorialPage">
    <section class="wrapperFilter">
        <div class="filterPanel">
            <img src="/assets/images/close-filter-panel.svg" alt="" class="closeFilter">
            <div class="floatLeft">
                <p><i class="fi flaticon-filter-filled-tool-symbol"></i>Filter</p>
                <h1>Search by</h1>
                <h6>Type of animal</h6>
                <ul class="typeOfAnimal">
                    <li class="line"><input type="checkbox">Dog</li>
                    <li class="line"><input type="checkbox">Cat</li>
                    <li class="line"><input type="checkbox">Bird</li>
                    <li class="line"><input type="checkbox">Rodent</li>
                    <li class="line"><input type="checkbox">Rabbit</li>
                    <li class="line"><input type="checkbox">Horse</li>
                    <li class="line"><input type="checkbox">Aquatic</li>
                    <li class="line"><input type="checkbox">Reptile</li>
                    <li class="line"><input type="checkbox">Insect</li>
                </ul>
                <ul class="breed">
                    <li>Breed</li>
                    <li>Breed</li>
                    <li>Breed</li>
                </ul>
            </div>
        </div>
        <ng-include src="'./templates/element/filterSearch.html'"></ng-include>
        <div class="memorialAnimal">
            <div class="container">
                <ul class="listAnimal" style="background-image: url(/assets/images/bg-memorial.png);">
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                        <span class="clearfix"></span>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName ">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName ">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName ">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName ">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName ">Ginger</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead "><span class="dot"></span>30th November</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName ">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                    </li>
                    <li data-toggle="modal" data-target="#loginPopup">
                        <h3 class="animalName">Name of pet</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                    </li>
                </ul>
            </div>
        </div>
        <ng-include src="'./templates/element/loading.html'"></ng-include>
    </section>
    <section class="partnership">
        <div class="container-fluid">
            <h2>In partnership with RSPCA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit.</p>
            <img class="img-responsive" src="assets/images/login_page.png" alt="">
        </div>
    </section>
    <section class="modal fade" id="loginPopup" role="dialog">
        <form action="">
            <i class="fi flaticon-closed-padlock"></i>
            <h3>Please login or create an account to view more memorials.</h3>
            <a href="javascript:" title="Login with Facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>
            <span>OR</span>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="checkbox"><label>Remember me</label>
            <div class="button">
                <a href="#/create-profile" title="Get Started">Get Started</a>
                <a href="#/login" title="Login" class="pull-right">Login</a>
            </div>
        </form>
    </section>
</main>
<script>
    $(document).ready(function(){
        $('.button a').click(function(){
            $('.modal-backdrop').css('display','none');
            $('.modal-open').removeClass();
        });

        $('.flaticon-filter-filled-tool-symbol').click(function(){
//            $('.filterPanel').css({"left":"0"});
//            alert('123');
            $(this).css({"display":"none"});
        });

        $('.closeFilter').click(function(){
            $('.filterPanel').css({"left":"-320px"});
        });

    });
</script>