<main id="petsMemorialGridPage">
    <ng-include src="'./templates/element/filterSearch.html'"></ng-include>
    <section class="mansory">
        <div class="col-75 pull-left">
            <div class="col-50 pull-left">
                <div class="two-small">
                    <div class="one-small item pull-left" style="background-image: url(/assets/images/rabbit-color.jpg);">
                        <div class="content">
                            <h3>Baxter</h3>
                            <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                            <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                        </div>
                    </div>
                    <div class="one-small item pull-right" style="background-image: url(/assets/images/fish-color.jpg);">
                        <div class="content">
                            <h3>Baxter</h3>
                            <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                            <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                        </div>
                    </div>
                    <span class="clearfix"></span>
                </div>
                <div class="one-large item" style="background-image: url(/assets/images/dog-color.jpg);">
                    <div class="content">
                        <h3>Baxter</h3>
                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                    </div>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="one-large item" style="background-image: url(/assets/images/cat-color.jpg);">
                    <div class="content">
                        <h3>Baxter</h3>
                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                    </div>
                </div>
                <div class="two-small">
                    <div class="one-small item pull-left" style="background-image: url(/assets/images/gua-color.jpg);">
                        <div class="content">
                            <h3>Baxter</h3>
                            <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                            <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                        </div>
                    </div>
                    <div class="one-small item pull-right" style="background-image: url(/assets/images/rat-color.jpg);">
                        <div class="content">
                            <h3>Baxter</h3>
                            <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                            <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                        </div>
                    </div>
                    <span class="clearfix"></span>
                </div>
            </div>
            <span class="clearfix"></span>
        </div>
        <div class="col-25 pull-right">
            <div class="one-medium item" style="background-image: url(/assets/images/horse-color.jpg);">
                <div class="content">
                    <h3>Baxter</h3>
                    <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                    <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                </div>
            </div>
            <div class="one-medium item" style="background-image: url(/assets/images/bird-color.jpg);">
                <div class="content">
                    <h3>Baxter</h3>
                    <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                    <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                </div>
            </div>
        </div>
        <span class="clearfix"></span>
    </section>
    <ng-include src="'./templates/element/loading.html'"></ng-include>
    <section class="partnership">
        <div class="container-fluid">
            <h2>In partnership with RSPCA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit.</p>
            <img class="img-responsive" src="assets/images/login_page.png" alt="">
        </div>
    </section>
</main>