<main id="petsMemorialGridPage">
    <section class="filterSearch">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 filter">
                    <a href="javascript:" title="Filter"><i class="fi flaticon-filter-filled-tool-symbol"></i></a><span>Filter</span>
                    <a href="javascript:" title="View More"><i class="fi flaticon-squares-gallery-grid-layout-interface-symbol"></i></a>
                    <a href="javascript:" title="Grid"><i class="fi flaticon-list"></i></a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 search">
                    <input type="text" placeholder="Search…">
                    <i class="fi flaticon-search"></i>
                </div>
            </div>
        </div>
    </section>
    <section class="mansory">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 large-col">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 first-col">
                            <div class="row two-small">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/rabbit-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/fish-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row one-big">
                                <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 item" style="background-image:url('/assets/images/dog-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 second-col">
                            <div class="row one-big">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item" style="background-image:url('/assets/images/cat-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row two-small">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/gua-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/rat-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 small-col">
                    <div class="row one-medium">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item" style="background-image:url('/assets/images/horse-color.jpg');">
                            <div class="content">
                                <h3>Baxter</h3>
                                <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                            </div>
                        </div>
                    </div>
                    <div class="row one-medium">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item" style="background-image:url('/assets/images/bird-color.jpg');">
                            <div class="content">
                                <h3>Baxter</h3>
                                <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="loading">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </section>
    <section class="partnership">
        <div class="container-fluid">
            <h2>In partnership with RSPCA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit.</p>
            <img class="img-responsive" src="assets/images/login_page.png" alt="">
        </div>
    </section>
</main>