<main id="viewMoreMemorialsPage">
    <ng-include src="'./templates/element/filterSearch.html'"></ng-include>
    <section class="memorialAnimal">
        <div class="container">
            <ul class="listAnimal" style="background-image: url(/assets/images/bg-memorial.png);">
                1``5<li>
                <h3 class="animalName">Name of pet</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                <span class="clearfix"></span>
            </li>
                <li>
                    <h3 class="animalName ">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                </li>
                <li>
                    <h3 class="animalName">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                </li>
                <li>
                    <h3 class="animalName ">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                </li>
                <li>
                    <h3 class="animalName ">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                </li>
                <li>
                    <h3 class="animalName ">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead "><span class="dot"></span>Date of death</h6>
                </li>
                <li>
                    <h3 class="animalName ">Ginger</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead "><span class="dot"></span>30th November</h6>
                </li>
                <li>
                    <h3 class="animalName ">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                </li>
                <li>
                    <h3 class="animalName">Name of pet</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h6 class="dateOfDead"><span class="dot"></span>Date of death</h6>
                </li>
            </ul>
        </div>
    </section>
    <ng-include src="'./templates/element/loading.html'"></ng-include>
    <section class="partnership">
        <div class="container-fluid">
            <h2>In partnership with RSPCA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur elit et lacus lacinia, et pellentesque mi suscipit.</p>
            <img class="img-responsive" src="assets/images/login_page.png" alt="">
        </div>
    </section>
</main>