<main id="createProfileCopy4Page" class="formPage placeholderForm">
    <section>
        <h1>Enter Your Pet’s Details</h1>
        <form action="">
            <div class="line-1 line">
                <input type="text" placeholder="Name" class="pull-left">
                <select name="" class="pull-right">
                    <option value="Male">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <div class="clearfix"></div>
            </div>

            <div class="line-2 line">
                <input type="text" placeholder="Born (DD/MM/YYYY)" class="pull-left">
                <input type="text" placeholder="Date of Death (DD/MM/YYYY)" class="pull-right">
                <div class="clearfix"></div>
            </div>

            <div class="line-3 line">
                <select name="" class="pull-left">
                    <option value="Country">Country</option>
                    <option value="Australia">Australia</option>
                </select>
                <input type="text" placeholder="Postcode" class="pull-right">
                <div class="clearfix"></div>
                <div class="btnStep btnNextStep">
                    <a href="#/add-life-event" title="Next Step"><img src="/assets/images/arrow-left.svg" alt="back"></a>
                </div>
                <div class="btnStep btnPrevStep">
                    <a href="#/create-profile-copy-3" title="Back"><img src="/assets/images/arrow-left.svg" alt="back"></a>
                </div>
            </div>
            
            <div class="line-4 line">
                <select name="" class="pull-left">
                    <option value="Public Service">Public Service</option>
                    <option value="Public Service">Public Service</option>
                </select>
                <select name="" class="pull-right">
                    <option value="Public Service">Seeing Eye Dog</option>
                    <option value="Public Service">Seeing Eye Dog</option>
                </select>
                <div class="clearfix"></div>
            </div>

            <div class="line-5 line">
                <textarea name="" placeholder="Verify your pet was a Public Service animal"></textarea>
            </div>

            <div class="line-6 line">
                <input type="text" placeholder="Colour" class="pull-left">
                <input type="text" placeholder="Breed"class="pull-right">
                <div class="clearfix"></div>
            </div>

            <div class="line-7 line message">
                <textarea name="" placeholder="Description…"></textarea>
            </div>
        </form>
        <img class="img-responsive" src="/assets/images/login_page.png" alt="">
    </section>
</main>