<main id="createProfileCopyPage">
    <section class="content">
        <h1>Select Your Profile</h1>
        <div class="chooseVersion">
            <div class="btnPrevStep btnStep">
                <a href="#/create-profile" title="Back"><img src="/assets/images/arrow-left.svg" alt="back"></a>
            </div>
            <div class="btnNextStep btnStep">
                <a href="#/create-profile-copy-3" title="Next Step"><img src="/assets/images/arrow-left.svg" alt="Next Step"></a>
            </div>
            <div class="wrapper">
                <div class="basic general pull-left">
                    <span>Basic</span>
                    <button>Choose This</button>
                </div>
                <div class="premium general pull-right">
                    <span>Premium</span>
                    <button>Choose This</button>
                </div>
            </div>
            <dic class="clearfix"></dic>
        </div>
        <ul class="listFunction">
            <li class="title">
                <span class="left">Features</span>
                <span class="center">Basic</span>
                <span class="right">Premium</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">Upload Images/Vidoes</span>
                <span class="center">Profile & Cover image</span>
                <span class="right">Upload up to 18 images and videos</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">Stats</span>
                <span class="center">Basic</span>
                <span class="right">Record personalised stats</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">Bio</span>
                <span class="center">50 words</span>
                <span class="right">Up to 250 words</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">Shareable</span>
                <span class="center"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="right"><i class="fa fa-check" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">Timeline</span>
                <span class="center"></span>
                <span class="right"><i class="fa fa-check" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">Owner Profile</span>
                <span class="center"></span>
                <span class="right"><i class="fa fa-check" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
            </li>
            <li>
                <span class="left">3 Days in Featured Gallery</span>
                <span class="center"></span>
                <span class="right"><i class="fa fa-check" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
            </li>
        </ul>
    </section>
</main>