<main id="homepage">
    <section class="getStarted">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content">
                    <h1>Tails never forgotten…</h1>
                    <p>Memorialise your pet with Pets Forever. Create a lasting digital memory to treasure and share.</p>
                    <a href="javascript:" title="Get started">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section class="gingerSlide">
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <h4>A lifetime of stories to share…</h4>
                                <h3>Ginger</h3>
                                <a href="javascript:" title="View profile" class="viewProfileBtn">View profile</a>
                                <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <img src="/assets/images/cat_home.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <h4>A lifetime of stories to share…</h4>
                                <h3>Ginger</h3>
                                <a href="javascript:" title="View profile" class="viewProfileBtn">View profile</a>
                                <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <img src="/assets/images/cat_home.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <section class="amountUser">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left">
                   <span class="number">1,356</span><span class="text">users and counting</span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right">
                    <span class="number">$10,234</span><span class="text">donated to the RSPCA</span>
                </div>
            </div>
        </div>
    </section>

    <section  style="display: none;" class="mansory">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 large-col">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 first-col">
                            <div class="row two-small">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/rabbit-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/fish-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row one-big">
                                <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 item" style="background-image:url('/assets/images/dog-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 second-col">
                            <div class="row one-big">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item" style="background-image:url('/assets/images/cat-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row two-small">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/gua-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 item" style="background-image:url('/assets/images/rat-color.jpg');">
                                    <div class="content">
                                        <h3>Baxter</h3>
                                        <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                        <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 small-col">
                    <div class="row one-medium">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item" style="background-image:url('/assets/images/horse-color.jpg');">
                            <div class="content">
                                <h3>Baxter</h3>
                                <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                            </div>
                        </div>
                    </div>
                    <div class="row one-medium">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item" style="background-image:url('/assets/images/bird-color.jpg');">
                            <div class="content">
                                <h3>Baxter</h3>
                                <a href="javascript:" title="View Profile" class="viewProfileBtn">View Profile</a>
                                <a href="javascript:" title="like" class="likeBtn"><i class="fa fa-heart" aria-hidden="true"></i>1,304</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loadMoreBtn">
                <a href="javascript:" title="Load more">Load More</a>
            </div>
        </div>
    </section>

    <section class="mansory2">
        <div class="col-75 pull-left">
            <div class="col-50 pull-left">
                <div class="two-small">
                    <div class="one-small item pull-left" style="background-image: url(/assets/images/rabbit-color.jpg);"></div>
                    <div class="one-small item pull-right" style="background-image: url(/assets/images/fish-color.jpg);"></div>
                    <span class="clearfix"></span>
                </div>
                <div class="one-large item" style="background-image: url(/assets/images/dog-color.jpg);"></div>
            </div>
            <div class="col-50 pull-right">
                <div class="one-large item" style="background-image: url(/assets/images/cat-color.jpg);"></div>
                <div class="two-small">
                    <div class="one-small item pull-left" style="background-image: url(/assets/images/gua-color.jpg);"></div>
                    <div class="one-small item pull-right" style="background-image: url(/assets/images/rat-color.jpg);"></div>
                    <span class="clearfix"></span>
                </div>
            </div>
            <span class="clearfix"></span>
        </div>
        <div class="col-25 pull-right">
            <div class="one-medium item" style="background-image: url(/assets/images/horse-color.jpg);"></div>
            <div class="one-medium item" style="background-image: url(/assets/images/bird-color.jpg);"></div>
        </div>
        <span class="clearfix"></span>
    </section>

    <section class="profile">
        <div class="container">
            <h4>Profiles</h4>
            <h2>Choose Your Profile</h2>
            <h6>Create a personalised page to honour your pet. Think of it as a scrapbook of your favourite memories.</h6>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item">
                    <img src="assets/images/img-profile1.png" alt="">
                    <h3>Create Your Page</h3>
                    <p>Personalise your pet’s page with photos, details and memories.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item">
                    <img src="assets/images/img-profile2.png" alt="">
                    <h3>Share It</h3>
                    <p>Spread the love and share your page with others via your social media.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item">
                    <img src="assets/images/img-profile3.png" alt="">
                    <h3>Send Stickers</h3>
                    <p>Engage with others by sending stickers and messages of support.</p>
                </div>
            </div>
            <a href="javascript:" title="Get started">Get Started</a>
        </div>
    </section>
    <section class="partnership">
        <div class="container">
            <h2>In Partnership With The RSPCA</h2>
            <p>We support the incredible work of the RSPCA with …% of proceeds going straight to the charity.</p>
            <img class="img-responsive" src="assets/images/dog-walk.png" alt="">
        </div>
    </section>
</main>