#footerSection{
  height:239px;
  line-height: 239px;
  background: #1c1c1c;
  .logo{
    text-align: center;
  }
  .menu{
    text-align: center;
    ul{
      li{
        display:inline-block;
        margin-right:35px;
        a{
          color: #a3a3a3;
          font-size: 18px;
          line-height: 18px;
        }
        a:hover{
          color:#fff;
        }
      }
      li:last-child{
        margin:0;
      }
    }
  }
  .social{
    text-align: center;
    ul{
      li{
        display:inline-block;
        margin-right:17px;
        a{
          color: #a3a3a3;
          font-family: 'GTWalsheimProTrial-Bold',sans-serif;
          font-size: 18px;
          display:inline-block;
          i{
            color:#a3a3a3;
            margin-right:23px !important;
          }
          i:hover{
            color:#fff;
          }
          i:last-child{
            margin:0;
          }
        }
        a:hover{
          color:#fff;
        }
      }
      li:first-child{
        a{
          color: #fff;
          width: 145px;
          height: 44px;
          border-radius: 100px;
          border: 1px solid #000000;
          background-color: #000000;
          text-align: center;
          line-height: 40px;
          margin-right:0;
        }
        a:hover{
          background: transparent;
        }
      }
      li:nth-child(2){
        margin-right: 88px;
      }

      li:last-child{
        margin-right:0;
      }
    }
  }
}